/* Set the display property of the body element to flex, 
   which allows the child elements to be aligned horizontally */
body {
  display: flex;
  justify-content: center; /* Center the child elements horizontally */
  align-items: center; /* Center the child elements vertically */
  background-color: rgb(
    177,
    178,
    203
  ); /* Set the background color of the body */
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
  margin: 0; /* Remove the default margin */
  padding: 0; /* Remove the default padding */
}

/* Set the font size and text alignment of the paragraph elements */
p {
  font-size: 25px;
  text-align: center;
}

/* Apply a background color and style for the copyright div */
/* Set the background color of the copyright div */
/* Set the text color of the copyright div */
/* Set the text alignment of the copyright div */
/* Set the font size of the copyright div */
/* Set the padding of the copyright div */
/* Set the position of the copyright div to fixed */
/* Set the bottom position of the copyright div to 0 */
/* Set the width of the copyright div to 100% */
/* Add some margin at the top to avoid overlapping with the content */
/* Set the margin of the copyright div */
.copyright {
  background-color: rgb(177, 178, 203);
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

/* Style the paragraph inside the copyright div */
/* Remove the margin of the paragraph inside the copyright div */
.copyright p {
  margin: 0;
}

/* Style the link in the paragraph */
/* Set the color of the link in the paragraph */
/* Remove the underline from the link in the paragraph */
/* Set the font weight of the link in the paragraph */
a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
